.contact {
    width: auto;
    height: 38vw;
    background-color: white;
    color: black;
    padding: 16.3vw 0vw 5vw 9.6vw; /*top right bottom left */
    display: flex;
    flex-direction: row;
    gap: 25.3vw;
}

.contact h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 2.7vw;
}

.contact p {
    font-size: 1.1vw;
}

.contactDetails {
    width: 34.5vw;
    display: grid;
    grid-template-columns: auto auto ;
    padding-top: 2vw;
    gap: 3vw;
}

.contact .rightPhoto {
    width: 29.5vw;
    height: 32.5vw;
    padding-top: 5vw;
}

.contact .rightSide {
    height: 32.5vw;
    padding-top: 1.5vw;
}

/* *{
    outline: 1px solid red;
} */